
body {
  margin-top: 70px;
  font-family: Rubik;
}
h2 {
  padding-bottom: 40px;
  font-weight: 400;
  color: #09183f;
}
p {
  font-size: 1.429em;
  color: #5b5b5b;
}
a:hover {
  text-decoration: none;
}
[class*="title_"] {
  padding: 0 15px;
  text-align: center;
}
.container_my_all {
  width: 100%;
  padding: 15px;
}
.container_my_all::after {
  content: '';
  display: table;
  clear: both;
}
[class*="float_"]{
  float: left;
}
ul {
  list-style: none;
}
.
input[type=text]:focus {
  box-shadow: none;
}
button[type=button]:focus {
  box-shadow: none;
  outline: none;
}
[class*="btn_my_"] {
  width: 100%;
  height: 2.429em;
  margin-bottom: 1.071em;
  padding: 0.429em 0.857em;
  border-radius: 0.357em;
  background-color: yellow;
}

/* navbar */
.fix_navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: 70px;
  line-height: 70px;
  z-index: 7;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(97,97,97,0.2);
}
.nav img {
  width: 10em;
}
.nav_burger {
  text-align: right;
  font-size: 0.9em;
}

.ul_left {
  text-align: center;
}
.ul_right .bars {
  vertical-align: middle;
  font-size: 2em;
  color: #5186e4;
}
.ul_right ul {
  padding-left: 0px;
  text-align: right;
}
.nav_burger ul li {
  display: inline;
  padding-left: 10px;
  font-size: 0.9em;
  text-transform: capitalize;
  color: #000;
}
.nav_burger ul li a {
  padding-right: 5px;
  color: #000;
}
.nav_burger ul li a:hover {
  color: #5186e4;
}
.btn_nav {
  border: 1px solid #5186e4;
  color: #5186e4;
}
.btn_nav:hover {
  border: 1px solid #5186e4;
  background-color: #5186e4;
  color: #fff;
}

/* jumbo */
.jumbo {
  margin-top: 70px;
  padding: 4.286em 0;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: none;
}
.jumbo_title {
  padding: 2em 1.071em;
}
.jumbo_title h1 {
  font-size: 2.857em;
  font-weight: 700;
  color: #fff;
}
.jumbo_title p {
  color: #eff0f7;
}
.form_jumbo {
  width: 100%;
  margin: 0 auto;
  padding: 0.250em 0.714em;
  border-radius: 0.357em;
  background-color: #fff;
  text-align: center;
}
.form_jumbo h2:nth-child(2) {
  color: #0147fd;
}
.btn_my_blue {
  background-color: #5287e5;
  color: #FFF;
}
.btn_my_white {
  position: relative;
  background-color: #FFF;
  color: #5287e5;
}
.btn_my_white img {
  position: absolute;
  width: 1.2em;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 0.857em;
}
.form_jumbo p {
  margin-bottom: 1.429em;
  font-size: 0.9em;
}
.form_jumbo p a {
  color: #0147fd;
  text-decoration: underline;
}
.form_jumbo p a:hover {
  color: #09183f;
}

/* header bottom */
.header_b {
  padding: 60px 0;
  text-align: center;
  background-color: #eff0f7;
}
.header_b h5 {
  text-transform: uppercase;
  color: #aeb2bb;
}
.header_b i {
  font-size: 0.9em;
  color: #0147fd;
}
.header_b a {
  color: #0147fd;
}
.header_b_loghi .img_logo{
  line-height: 100px;
  vertical-align: middle;
}
.header_b_loghi img {
  max-width: 100%;
  vertical-align: middle;
 }


/* deloy */
.box_deploy {
  padding: 60px 0;
  color: #5b5b5b;
}
.box_deploy p {
  margin-bottom: 40px;
}
.float_icons_list {
  float: left;
  width: 30%;
}
.float_icons_right {
  float: left;
  width: 70%;
  font-size: 0.8em;
}
.float_icons_list ul {
  padding-left: 10px;
  border-left: 1px solid silver;
}
.float_icons_list ul li {
  padding-bottom: 15px;
  font-size: 1.429em;
}
.float_icons_list ul li a {
  color: #5b5b5b;
}
.float_icons_right h4 {
  padding: 20px 0;
  color: #09183f;
}

/* designed */
.box_designed {
  padding: 60px 0;
  background-color: #eff0f7;
}
.img_designed {
  text-align: center;
}
.img_designed img {
  width: 90%;
  padding: 25px 0;
}
.img_designed p {
  font-size: 1em;
  color: #09183f;
}
.img_designed .arrow {
  display: none;
}
.img_designed ul li,
.rocker ul li {
  display: inline;
}
/* features */
.box_features{
  padding: 60px 0;

}
.box_features a{
  color: #0147fd;
}
.box_features a i{
  font-size: 0.9em;
}
/* service */
.box_service {
  padding: 60px 0;
  background: linear-gradient(#0147fd,
  #031B4E);
}
.title_service h2{
  color: #fff;
}
.list_service {
  padding: 15px 30px;
}
.list_service .country {
  padding: 5px 0;
}
.country p {
  font-size:1em;
  color: #fff;
}
.country_h {
  font-weight: 500;
}
.country_p p {
  color: #a1a5ac;
}
.country a {
  color: #0ae5da;
}
.list_service .country:not(:last-child) {
  border-bottom: 1px solid #fff;
}

/* development */
.box_development {
  padding: 5em 0;
  background-color: #f1f2f9;
}
.rocker {
  text-align: center;
}
.box_rocker {
  width: 30em;
  margin: 0 auto;
  padding: 4em 0;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
}
.box_rocker img{
  width: 100%;
  padding: 0 10px;
}

/* get */
.box_get {
  padding:5em 0;
  text-align: center;
}

/* footer */
.footer_list ul {
  padding-left: 0;
}
.footer_list h4 {
  text-transform: capitalize;
}

/* query */
@media screen and (max-width: 1200px) {
  .header_b_loghi img {
    width: 75%;
   }
}
@media screen and (min-width: 992px) {
  .wrapper_lg_70,
  .box_features {
    width: 80%;
    margin: 0 auto;
  }
  .wrapper_lg_60 {
    width: 60%;
    margin: 0 auto;
  }
  .wrapper_lg_90 {
    width: 90%;
    margin: 0 auto;
  }
  .list_service {
    font-size: 0.95em;
  }
  .header_b_loghi img {
    width: 85%;
   }


}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  [class*="title_"] {
    padding: 15px 0;
  }
  .float_icons_list ul {
    margin-left: 20%;
  }

}
@media screen and (min-width: 768px) {
  .float_icons_list {
    padding-left: 50px;
  }
  .img_designed img {
    width: 65%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .img_designed .arrow {
    display: contents ;
    font-size: 2em;
    color: #09183f;
  }

}
@media screen and (max-width: 768px) {
  [class*="float_icons_"] {
    float: none;
    width: 100%;
  }
  .img_logo img {
    width: 11.5em;
   }
   .float_icons_right .container_my_all,
   .icons_right {
     padding-left: 0;
    }



}
