
body {
  margin-top: 70px;
}
[class*="title_"] {
  padding: 0 15px;
  text-align: center;
}
.container_my_all {
  width: 100%;
  padding: 15px;
}
.container_my_all::after {
  content: '';
  display: table;
  clear: both;
}
[class*="float_"]{
  float: left;
}
ul {
  list-style: none;
}
.padding_10 {
  padding-bottom: 15px;
}

/* navbar */
.fix_navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: 70px;
  line-height: 70px;
  z-index: 7;
  background-color: silver;
}
.nav_burger {
  text-align: right;
}
.ul_left {
  text-align: left;
}
.ul_right {
  text-align: right;
}
.nav_burger ul li {
  display: inline;
}

/* jumbo */
.jumbo {
  margin-top: 70px;
  padding: 20px 0;
  background-color: lightblue;
}

/* header bottom */
.header_b {
  padding: 20px 0;
  text-align: center;
  background-color: lightgrey;
}

/* deloy */
.box_deploy {
  padding: 20px 0;
}
.float_icons_list {
  float: left;
  width: 30%;
}
.float_icons_right {
  float: left;
  width: 70%;
}
.float_icons_list ul {
  padding-left: 10px;
  border-left: 1px solid #000;
}

/* designed */
.img_designed {
  text-align: center;
}
.img_designed img {
  width: 90%;
  padding: 20px 0;
}
.img_designed ul li,
.rocker ul li {
  display: inline;
}
.img_designed ul li a .coursor,
.rocker ul li a .coursor {
  display: none;
}
.img_designed ul li a .coursor_none:hover,
.rocker ul li a .coursor_none:hover{
  display: none;
}
.img_designed ul li a .coursor:hover,
.rocker ul li a .coursor:hover{

}
/* service */
.list_service {
  padding: 15px 30px;
}
.list_service .country {
  padding: 15px 0;
}
.list_service .country:not(:last-child) {
  border-bottom: 1px solid #000;
}

/* development */
.box_development {
  padding: 5em 0;
  background-color: #f1f2f9;
}
.rocker {
  text-align: center;
}
.box_rocker {
  width: 30em;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
}
.box_rocker img{
  width: 100%;
  padding: 0 10px;
}

/* query */
@media screen and (min-width: 992px) {
  .wrapper_lg_70,
  .box_features,
  .box_service {
    width: 80%;
    margin: 0 auto;
  }

  .wrapper_lg_60 {
    width: 60%;
    margin: 0 auto;
  }
  .wrapper_lg_90 {
    width: 90%;
    margin: 0 auto;
  }
  .img_designed img {
    width: 70%;
  }
  .list_service {
    font-size: 0.95em;
  }

}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  [class*="title_"] {
    padding: 15px 0;
  }
  .float_icons_list ul {
    margin-left: 20%;
  }
  .img_designed img {
    width: 80%;
  }

}
@media screen and (min-width: 768px) {

}
@media screen and (max-width: 768px) {
  [class*="float_icons_"] {
    float: none;
    width: 100%;
  }

}
